[Unit]
Description=ESP RGB Mock Backend


[Container]
# Use the published image from GitHub Container Registry
Image=ghcr.io/pljakobs/esp_rgb_mock_backend:latest
# Mount your repo into the container
Volume=/srv/esp_rgb_mock_backend:/app:Z
Volume=/srv/esp_rgb_mock_backend/start-mock-backend.sh:/start-mock-backend.sh:Z
WorkingDir=/app
# Expose port 3000 inside the pod
PublishPort=3000
# Run entrypoint script inside the container
Command=/bin/sh /start-mock-backend.sh

[Install]
WantedBy=default.target
