[Unit]
Description=ESP RGB Mock Backend


[Container]
# Use the published image from GitHub Container Registry
Image=ghcr.io/pljakobs/esp_rgb_mock_backend:latest
# Expose port 3000 inside the pod
PublishPort=3000

[Install]
WantedBy=default.target
