[Unit]
Description=nginx reverse proxy for mock backend
Requires=mock-net-network.service
After=mock-net-network.service

[Container]
Image=docker.io/library/nginx:latest
Volume=/srv/nginx-mock.conf:/etc/nginx/nginx.conf:Z
# Expose port 80 on the host
Network=mock-net
PublishPort=80:80

[Install]
WantedBy=default.target
